@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-Black.ttf);
  font-weight: 900;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #020204;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  display: block;
}

.btn {
  min-width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 10px;
  transition: background-color 0.2s ease;
  border: 0;
  cursor: pointer;
  color: #fff;
}
.btn-main {
  background-color: #c7a17a;
}
.btn-main:hover {
  background-color: #a88666;
}
.btn-secondary {
  border: 1px solid #666681;
}
.btn-secondary:hover {
  background-color: #666681;
}
.btn-full {
  width: 100%;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #32323d;
}
.header__line {
  border-bottom: 1px solid #32323d;
}
.header__line-wrapper {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
}
.header__phone {
  font-weight: 600;
  font-size: 14px;
}
.header__lng {
  display: flex;
}
.header__lng a {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 10px;
}
.header__lng a.active {
  color: #c7a17a;
}
.header__link {
  margin-right: 30px;
  position: relative;
}
.header__link-event {
  display: block;
  background-color: #c7a17a;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -3px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header__block {
  width: 40%;
}
.header__block.right {
  display: flex;
  justify-content: flex-end;
}
.header__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  margin-right: 30px;
  position: relative;
}
.header__link:last-child {
  margin-right: 0;
}
.header__link-event {
  display: block;
  background-color: #c7a17a;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -3px;
}

.nav {
  display: flex;
}
.nav__link {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 35px;
  transition: color 0.2s ease;
}
.nav__link:hover {
  color: #c7a17a;
}
.nav__link:active {
  color: #c7a17a;
}
.nav__footer {
  flex-direction: column;
  align-items: flex-start;
}
.nav__footer .nav__link {
  margin-right: 0;
  margin-bottom: 20px;
}

.logo img {
  height: 54px;
}

.intro {
  background: url(../img/intro-image.jpg) no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 60px;
}
.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 2, 4, 0.55);
}
.intro__wrapper {
  padding: 20px 0;
  min-height: 720px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}
.intro__block {
  max-width: 565px;
}
.intro__title {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0 0 35px;
}
.intro__actions {
  display: flex;
}
.intro__actions .btn-main {
  margin-right: 20px;
}
.intro__text {
  margin: 0 0 35px;
  font-size: 18px;
  color: #dfdfdf;
}

.info__block {
  display: flex;
  background-color: #14141d;
  border-radius: 10px;
  margin-bottom: 80px;
}
.info__block .info__item {
  margin: 30px;
}
.info__block .info__title {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
}
.info__block .info__text {
  max-width: 500px;
  font-size: 18px;
  color: #dfdfdf;
  line-height: 1.45;
}
.info__block .info__img {
  border-radius: 10px 0 0 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info__block .info__img-wrapper {
  position: relative;
}
.info__block .info__img-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.block__title {
  margin: 0 0 40px;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 60px;
}
.products__block {
  width: 33.33%;
  padding: 0 10px;
  margin-bottom: 20px;
}
.products__item {
  display: block;
  padding: 20px;
  background-color: #14141d;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}
.products__item:hover {
  background-color: #22222f;
}
.products__title {
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}
.products__img {
  height: 200px;
  width: 100px;
  display: block;
  margin: 0 auto 40px;
}
.products__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__price {
  font-size: 18px;
  display: flex;
}
.products__price del {
  margin-left: 30px;
  color: #818181;
}
.products__favorite {
  background: none;
  padding: 0;
  cursor: pointer;
  border: none;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px 60px;
}
.news__block {
  width: 33.33%;
  padding: 0 10px;
  margin-bottom: 20px;
}
.news__item {
  display: block;
  min-height: 100%;
  background-color: #14141d;
  transition: background-color 0.2s ease;
  border-radius: 10px;
}
.news__item :hover {
  background-color: #22222f;
}
.news__title {
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}
.news__content {
  padding: 20px;
}
.news__img {
  height: 240px;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.news__text {
  margin: 0;
  color: #dfdfdf;
}

.footer {
  padding-top: 80px;
  padding-bottom: 60px;
  border: 1px solid #14141d;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
}
.footer__block {
  width: 33.33%;
  padding: 0 10px;
}

.product {
  padding-top: 100px;
  margin-bottom: 80px;
}
.product .block__title {
  font-size: 60px;
  margin-bottom: 50px;
}
.product__wrapper {
  margin: 0 -10px 80px;
  display: flex;
}
.product__img {
  flex: 1;
  padding: 0 10px;
}
.product__img .product__item {
  padding: 60px;
}
.product__info {
  width: 420px;
  padding: 0 10px;
}
.product__item {
  padding: 30px;
  background-color: #14141d;
  border-radius: 10px;
}
.product__item ul {
  margin: 0;
  font-size: 18px;
  line-height: 1.4;
  color: #dfdfdf;
}
.product__picture {
  max-width: 100%;
  height: 400px;
  display: block;
  margin: 0 auto;
}
.product__price {
  margin-bottom: 30px;
  display: flex;
  font-size: 24px;
  font-weight: 600;
}
.product__price del {
  margin-left: 30px;
  font-weight: 400;
  color: #818181;
}
.product .radio {
  margin-right: 10px;
  position: relative;
}
.product .radio__wrapper {
  display: flex;
  margin-bottom: 30px;
}
.product .radio__input {
  opacity: 0;
  position: absolute;
}
.product .radio__input:checked + .radio__label {
  color: #c7a17a;
  border-color: #c7a17a;
}
.product .radio__label {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #fff;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.2s ease, border-color 0.2s ease;
}
.product .radio__label:hover {
  color: #c7a17a;
  border-color: #c7a17a;
}
.product__description .block__title {
  font-size: 24px;
  margin-bottom: 30px;
}

.checkout {
  margin-top: 80px;
  flex: 1;
}
.checkout__wrapper {
  display: flex;
}
.checkout__block {
  margin-right: 50px;
  flex: 1;
}
.checkout__total {
  width: 380px;
  position: relative;
}
.checkout__total:after {
  content: "";
  position: absolute;
  top: -160px;
  left: -30px;
  width: 50vw;
  background-color: #14141d;
}
.checkout__table {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #14141d;
  border-radius: 10px;
}
.checkout__table-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.checkout__img {
  display: block;
  margin-right: 25px;
  height: 96px;
}
.checkout__title {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}
.checkout__size {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #818181;
}
.checkout .select select {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  min-width: 60px;
  height: 25px;
  outline: 0;
}
.checkout__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.checkout__price {
  font-size: 14px;
  font-weight: 600;
}
.checkout__total-row {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.checkout__total-row .title {
  font-size: 15px;
}
.checkout__total-row .count {
  font-size: 15px;
}
.checkout .total {
  margin-top: 30px;
  margin-bottom: 40px;
}
.checkout .total .title {
  font-size: 16px;
  font-weight: 600;
}
.checkout .total .count {
  font-size: 16px;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
