@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-Black.ttf);
  font-weight: 900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #020204;
  font-family: "Jost", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  display: block;
}

.btn {
  min-width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 10px;
  transition: background-color 0.2s ease;

  &-main {
    background-color: #c7a17a;

    &:hover {
      background-color: #a88666;
    }
  }

  &-secondary {
    border: 1px solid #666681;

    &:hover {
      background-color: #666681;
    }
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #32323d;

  &__line {
    border-bottom: 1px solid #32323d;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      height: 30px;
      align-items: center;
    }
  }

  &__phone {
    font-weight: 600;
    font-size: 14px;
  }

  &__lng {
    display: flex;

    a {
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      margin-right: 10px;

      &.active {
        color: #c7a17a;
      }
    }
  }

  &__link {
    margin-right: 30px;
    position: relative;

    &-event {
      display: block;
      background-color: #c7a17a;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      top: -3px;
      right: -3px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }

  &__block {
    width: 40%;

    &.right {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    margin-right: 30px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &-event {
      display: block;
      background-color: #c7a17a;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      top: -3px;
      right: -3px;
    }
  }
}

.nav {
  display: flex;

  &__link {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 35px;
    transition: color 0.2s ease;

    &:hover {
      color: #c7a17a;
    }

    &:active {
      color: #c7a17a;
    }
  }
}

.logo {
  img {
    height: 54px;
  }
}

.intro {
  background: url(../img/intro-image.jpg) no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 60px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 2, 4, 0.55);
  }

  &__wrapper {
    padding: 20px 0;
    min-height: 720px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &__block {
    max-width: 565px;
  }

  &__title {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 0 0 35px;
  }

  &__actions {
    display: flex;

    .btn-main {
      margin-right: 20px;
    }
  }

  &__text {
    margin: 0 0 35px;
    font-size: 18px;
    color: #dfdfdf;
  }
}

.info__block {
  display: flex;
  background-color: #14141d;
  border-radius: 10px;
  margin-bottom: 80px;

  .info__item {
    margin: 30px;
  }

  .info__title {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
  }

  .info__text {
    max-width: 500px;
    font-size: 18px;
    color: #dfdfdf;
    line-height: 1.45;
  }

  .info__img {
    border-radius: 10px 0 0 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &-wrapper {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.block__title {
  margin: 0 0 40px;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 60px;

  &__block {
    width: 33.33%;
    padding: 0 10px;
    margin-bottom: 20px;
  }

  &__item {
    display: block;
    padding: 20px;
    background-color: #14141d;
    border-radius: 10px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #22222f;
    }
  }

  &__title {
    margin: 0 0 30px;
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
  }

  &__img {
    height: 200px;
    width: 100px;
    display: block;
    margin: 0 auto 40px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-size: 18px;
    display: flex;

    del {
      margin-left: 30px;
      color: #818181;
    }
  }

  &__favorite {
    background: none;
    padding: 0;
    cursor: pointer;
    border: none;
  }
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;

  &__block {
    width: 33.33%;
    padding: 0 10px;
    margin-bottom: 20px;
  }

  &__item {
    display: block;
    min-height: 100%;
    background-color: #14141d;
    transition: background-color 0.2s ease;
    border-radius: 10px;

    :hover {
      background-color: #22222f;
    }
  }

  &__title {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
  }

  &__content {
    padding: 20px;
  }

  &__img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  &__text {
    margin: 0;
    color: #dfdfdf;
  }
}
